* {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
body, html { 
  background-color: #F2F6D0 !important;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
hr {
  border-color: white !important; 
  
}
.card-header {
  background-image: linear-gradient(to right, #F2F6D0 , white) !important;
  width:100%;
}

.jumbotron, .navbar {
  color: yellow;
  /* background-image: url("/assets/images/scrape4.jpg") !important; */
  background-image: url("/assets/images/code-wallpaper.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  font-size: larger;
}

.noteContainer {
  margin-top:10px !important;
  /* border:1px solid black; */
}

.noteContainer > .card {
  background-color: #F2F6D0;
}

.formContainer {
  border: 1px solid black;
  padding: 5px;
  text-align: right;
}

.removeNote {
  color: #ff1744;
  font-size: 28px;
  position: absolute;
  top: -10px;
  right: 5px;
  cursor: pointer;
}

.removeNote:hover {
  color: #d50000;
}


